<% provide(:title, @user.nil? ? "Error" : @user.name) %>
<div class=main>
  <div class=box>
    <% @user_collection.each do |item| %>
      <% if item.is_a? Post %>
        <%= render partial: "shared/post", locals: {post: item} %>
      <% else %>
        <%= render partial: "shared/comment", locals: {comment: item} %>
      <% end %>
    <% end %>
  </div>
  <%= render "shared/sidebar" %>
</div>
