<% provide(:title, "Create Subreddit") %>
<% provide(:button, "Create") %>
<% provide(:form_path, submit_path) %>

<div class=main>
  <div class=box>
    <h3>Submit a new Post</h3>
    <%= render "form" %>
  </div>
</div>
