@font-face {
    font-family: 'varela_roundregular';
    src: asset-url('fonts/VarelaRound-Regular-webfont.eot');
    src: asset-url('fonts/VarelaRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('fonts/VarelaRound-Regular-webfont.woff') format('woff'),
         asset-url('fonts/VarelaRound-Regular-webfont.ttf') format('truetype'),
         asset-url('fonts/VarelaRound-Regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Variables */
$logo-font: varela_roundregular, 'Andale Mono', 'Avant Garde', 'Century Gothic', Tahoma, sans-serif;
$content-font: verdana, arial, helvetica, sans-serif;
$header-blue:  #A0A6CF;
$body-blue:    #EDEFF8;
$neutral-blue: #4C5694;
$dark-blue:    #2F397B;
$light-yellow: #FFF297;
$dark-yellow:  #B3A334;
$logo-grey:    #202020;
$text-grey:    #888;
$micro-red:    #FE1728;

/* Mixins */

@mixin logo_transform {
  ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: left bottom 0;
  -moz-transform-origin: left bottom 0;
  -webkit-transform-origin: left bottom 0;
  transform-origin: left bottom 0;
}

@mixin shrink_wrap {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin pre_wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Layout */

html {
  height: 100%;
  @include shrink_wrap;
}

body {
  @include shrink_wrap;
  color: $body-blue;
  height: 100%;
  z-index: 1;
}

div, a, li, span, input {
  font-family: $content-font;
  list-style-type: none;
}

h3 {
  @include shrink_wrap;
  margin: 15px;
  font-family: $content-font;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  color: $neutral-blue;
}

.wrapper {
  @include shrink_wrap;
  background: $body-blue;
  display: block;
  min-height: 100%;
  width: 100%;
  color: $dark-blue
}

.main-content {
  border: none;
  border-top: 1px solid $dark-blue;
}

.container {
  @include shrink_wrap;
  display: block;
  position: relative;
}

#error_explanation {
  font-size: 11pt;
  color: $logo-grey;
}

/* Header */

.header {
  @include shrink_wrap;
  position: relative;
  display: block;
  height: 55px;
  background: $header-blue;
  z-index: 99;
}

h1 {
  @include shrink_wrap;
  display: inline-block;
  font-family: $logo-font;
  font-size: 36pt;
  font-weight: bold;
  background: transparent;
  margin: 5px;
  text-shadow: 1px 1px 1px #777;


  a {
    text-decoration: none;
    color: $logo-grey;
  }

  span {
    @include logo_transform;
    color: $micro-red;
    display: inline-block;
    position: relative;
    right: -35px;
    bottom: 5px;
    font-size: 12pt;
    -webkit-text-stroke: 1px black;
    text-shadow: none;
  }
}

nav {
  display: inline-block;

  ul {
    display: table-row;
    list-style-type: none;

    li {
      display: table-cell;

      a {
        text-decoration: none;
      }
    }
  }
}

.access {
  padding: 5px;
  background: $light-yellow;
  border-top-left-radius: 7px;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0px;

  span {
    font-size: 10pt;

    a {
      text-decoration: none;
      color: #2F397B;

      &:hover {
        color: #010415;
        text-shadow: 1px 1px 1px $header-blue;
      }
    }
  }
}

/* footer */

.footer {
  @include shrink_wrap;
  display: block;
  background: $body-blue;
  color: $text-grey;
  overflow: hidden;

  span {
    font-size: 9pt;
    margin: 10px;
    float: left;
  }

  nav {
    font-size: 9pt;
    margin: 10px;
    float: right;
  }

  a {
    text-decoration: none;
    color: $dark-blue;

    &:hover {
      color: $dark-yellow;
    }
  }
}

/* main */

.field_with_errors {
  input {
    border: 2px solid $micro-red;
  }
}

.main {
  height: 100%;
  display: table;
  width: 100%;
}

.box {
  display: table-cell;
  background: $body-blue;
}

.sidebar {
  @include shrink_wrap;
  display: table-cell;
  width: 300px;
  background: $body-blue;

  .search_box {
    form {
      margin: 4px 2px 6px 2px;
      font-size: 10pt;

      .search_input {
        width: 200px;
      }

      .search_text {
        display: inline-block;
        width: 90%;
        margin-right: -10px;
      }

      .search_btn {
        @include logo_transform;
        @include shrink_wrap;
        background: none;
        border: none;
        font-size: 12pt;
        line-height: 2;
        cursor: pointer;
        width: initial;

        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }

  .login_box {
    border: 1px $text-grey solid;
    display: block;
    margin: 0;
    padding: 0;
    font-family: $content-font;
    font-size: 10pt;

    .login1 {
      @include shrink_wrap;
      display: inline-flex;

      input {
        margin: 4px 2px;
        padding: 0;
        width: 130px;
      }
    }

    .login2 {
      @include shrink_wrap;
      display: inline-flex;

      label, input, span {
        display: inline-block;
        margin: 4px 2px;
      }
    }
  }

  .sidebar_text {
    @include pre_wrap;
    margin: 5px;
    font-size: 9pt;
    color: $dark-blue;
  }
}

.big_link {
  background: $light-yellow;
  border: 2px solid $dark-yellow;
  color: $dark-blue;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin: 8px;
  padding: 8px;
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    background: $dark-yellow;
  }

}

.mod_info {
  @include shrink_wrap;
  border: 1px solid $neutral-blue;
  margin: 10px;
  font-size: 8pt;

  a {
    text-decoration: none
  }
}

.dynamic_title {
  padding: 5px;
  margin: 2px;
  background: white;
  border-radius: 8px;
  display: none;

  #suggested_title {
    font-size: 11pt;
  }

  #use_suggested_title {
    margin: 10px 0 5px 10px;
    font-size: 9pt;
    cursor: pointer;
    color: $logo-grey;

    &:hover {
      color: $dark-blue;
    }
  }
}

.post_comment_list {
  @include shrink_wrap;
  padding-left: 20px;
}

.post {
  @include shrink_wrap;
  display: block;
  padding: 31px 10px 20px 30px;

  .thumbnail_box {
    display: table-cell;
    vertical-align: top;
    padding: 0 8px;

    .post_thumbnail {
      width: 70px;
      height: auto;
      overflow: hidden;
    }
  }

  .post_details {
    display: table-cell;
    vertical-align: top;

    a {
      color: $text-grey;
      font-size: 9pt;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: $text-grey;
      }
    }

    .post_title {

      .title_text {
        color: $dark-blue;
        font-size: 11pt;
        font-weight: normal;

        }

        &:hover {
          text-decoration: none;
        }
      }

      .title_host {
        font-size: 8pt;
        color: $text-grey;
      }

    .post_meta {
      font-size: 9pt;
      padding: 5px 0 0 0;
      color: $text-grey;

      a {
        text-decoration: none;
      }
    }
  }
}

.comment {
  padding: 10px;

  .comment_box {
    display: table-cell;

    .comment_header {
      display: block;
      font-size: 10pt;

      a {
        text-decoration: none;
      }
    }

    .comment_content {
      @include pre_wrap;
      display: block;
      font-size: 11pt;
      padding: 5px 0;
    }
  }
}

.votes {
  display: table-cell;
  padding: 0 10px 0 5px;
  font-weight: bold;
  font-size: 13pt;
  color: $text-grey;
  text-align: center;

  .upvote, .downvote {
    display: block;
    cursor: pointer;

    &:hover {
      color: $neutral-blue;
    }
  }
}

/* Flashes */

.alert {
  margin: 10px auto;
  padding: 5px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  font-size: 12pt;
}

.alert-danger {
  background: #FFAAAA;
  border: 2px solid #801515;
  color: #801515;
}

.alert-information {
  background: #FFF8AA;
  border: 2px solid #807215;
  color: #584E01;
}

/* signup */

.new_user, .new_subreddit, .new_post {
  @include shrink_wrap;
  margin-left: 25%;
  margin-top: 40px;
  width: 50%;
  display: block;

  label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;

    span {
      display: inline-block;
    }
  }

  input[type=text] {
    display: block;
    width: 100%;
  }

  input[type=checkbox] {
    display: inline-block;
  }

  input[type=submit] {
    font-size: 11pt;
    margin: 10px;
    padding: 6px;
  }

  span {
    display: block;
    color: $text-grey;
    font-size: 9pt;
  }

  textarea {
    display: block;
    width: 100%;
    height: 80px;
  }
}

