<% provide(:title, "Create Subreddit") %>
<% provide(:button, "Create") %>
<% provide(:form_path, subreddits_create_path) %>
<div class=main>
  <div class=box>
    <h3>Create a Subreddit</h3>
    <%= render "form" %>
  </div>
</div>
