<div class=main>
  <div class=box>
    <% unless @subreddit.nil? %>
      <% provide(:title, @subreddit.name)               %>
      <% provide(:sidebar_text, @subreddit.sidebar)     %>
      <% provide(:moderator, @subreddit.moderator.name) %>

      <h3>r/<%= @subreddit.name %></h3>
    <% end %>
  </div>
  <%= render "shared/sidebar" %>
</div>
