<div class=footer>
  <span>
    Micro-Reddit was built by <a rel="noopener noreferrer"
                                 target="_blank"
                                 href="http://www.thomasrudge.co.uk">Thomas Rudge</a>.
    <br/>
    Codebase can be found <a rel="noopener noreferrer"
                             target="_blank"
                             href="https://github.com/Thomas-Rudge/micro_reddit">here</a>.
  </span>
  <nav>
    <ul>
      <li><%= link_to "About", about_path, class: "footer_link" %></li>
       |
      <li><a rel="noopener noreferrer"
             target="_blank"
             class=footer_link
             href="http://www.thomasrudge.co.uk/html/contact.html">Contact</a></li>
       |
      <li><%= link_to "Legal", legal_path, class: "footer_link" %></li>
    </ul>
  </nav>
</div>
